.main {
  position: absolute;
  opacity: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  width: 100%;
  height: 65dvh;
  padding: 15px;
  background-color: var(--main-color);
  box-shadow:
    0 0 10px 6px var(--addition-color),
    inset 0 0 8px 4px var(--addition-color);
  border-radius: 15px;
}

.main:not([hidden]) {
  animation: appear 0.5s forwards;
}

.main[hidden] {
  animation: hide 0.5s ease-in forwards;
}

.main__user-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 25%;
  height: 100%;
  padding: 10px;
  outline: 1px solid #000000;
  border-radius: 15px;
}

.main__user_active {
  color: var(--highlighted-color);
}

.main__user_inactive {
  color: rgb(255, 42, 42);
}

.main__user_login {
  color: #ffffff;
}

.main__dialogue {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 75%;
  height: 100%;
  padding: 10px;
  outline: 1px solid #000000;
  border-radius: 15px;
}

.main__interlocutor_info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.main__dialogue_content {
  width: 100%;
}

.main__dialogue_tools {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  width: 100%;
}

.main__dialogue_input {
  width: 100%;
}
