.main {
  position: absolute;
  opacity: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  width: 100%;
  height: 65dvh;
  padding: 15px;
  background-color: var(--main-color);
  box-shadow:
    0 0 10px 6px var(--addition-color),
    inset 0 0 8px 4px var(--addition-color);
  border-radius: 15px;
}

.main:not([hidden]) {
  animation: appear 0.5s forwards;
}

.main[hidden] {
  animation: hide 0.5s ease-in forwards;
}

.main__user-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  width: 25%;
  height: 100%;
  padding: 10px;
  outline: 1px solid #ffffff;
  border-radius: 15px;
}

.main__search-user {
  padding: 6px;
  font-size: 1.3rem;
  border-radius: 10px;
  transition: 0.3s;
  border: none;
}

.main__search-user:focus {
  outline: 2px solid var(--main-color);
  box-shadow: inset 0 0 6px 3px var(--main-color);
}

.main__users {
  overflow: auto;
  padding-left: 0;
  list-style: none;
  font-size: 1.2rem;
}

.main__users::-webkit-scrollbar {
  width: 12px;
  background-color: #191919;
  border-radius: 15px;
}

.main__users::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px #0cb3b3;
  border-radius: 15px;
}

.main__users::-webkit-scrollbar-thumb {
  background: #12ffff;
  border-radius: 15px;
}

.main__users::-webkit-scrollbar-thumb:hover {
  background: #0cafaf;
}

.main__user {
  position: relative;
  width: 100%;
  padding: 8px 0;
  text-wrap: pretty;
  cursor: pointer;
  transition: 0.2s;
}

.main__user_login {
  margin-left: 30px;
}

.main__user:hover {
  background-color: #ffffff45;
}

.main__user::after {
  content: '';
  position: absolute;
  left: 10px;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  transition: 0.3s;
}

.main__user_active::after {
  background-color: var(--highlighted-color);
}

.main__user_inactive::after {
  background-color: rgb(255, 42, 42);
}

.main__user_login {
  color: #ffffff;
}

.main__user[hidden] {
  display: none;
}

.main__dialogue {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 75%;
  height: 100%;
  padding: 10px;
  outline: 1px solid #ffffff;
  border-radius: 15px;
}

.main__interlocutor_info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.main__dialogue_content {
  width: 100%;
}

.main__dialogue_tools {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  width: 100%;
}

.main__dialogue_input {
  width: 100%;
  padding: 6px;
  border: none;
  font-size: 1.5rem;
  border-radius: 10px;
  transition: 0.3s;
}

.main__dialogue_input:focus {
  outline: 2px solid var(--main-color);
  box-shadow: inset 0 0 6px 3px var(--main-color);
}

.main__dialogue_send {
  position: relative;
  overflow: hidden;
  padding: 5px 15px;
  width: 130px;
  font-size: 1.6rem;
  background-color: transparent;
  outline: 1px solid #ffffff;
  color: #ffffff;
  transition: 0.3s;
}

.main__dialogue_send::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  transform-origin: left;
  transform: scaleX(0);
  background-color: #ffffff;
  transition: 0.3s;
}

.main__dialogue_send:hover::after {
  transform: scaleX(0.5);
}

.main__dialogue_send:active::after {
  transform: scaleX(1);
}
