@font-face {
    font-family: Audiowide;
    src: url(fonts/Audiowide-Regular.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    max-width: 100vw;
    scroll-behavior: smooth;
}

body {
    max-width: 100%;
    margin: 0;
    padding: 0;
    color: #fff;
    background: #17181c;
    font-family: Audiowide;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 100dvh;
    margin: 0 auto;
    background-image: url('img/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    padding: 10px;
}

header h1 {
    font-size: 4rem;
    font-family: Audiowide;
    font-weight: 800;
    color: #caff29;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 120px;
}

footer {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.gh-icon {
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

.gh-name {
    display: flex;
    align-items: center;
    position: relative;
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
}

.gh-name::before {
    position: absolute;
    width: 100%;
    height: 2px;
    content: '';
    bottom: 0;
    right: 0;
    background-color: white;
    transition: 0.3s;
    transform: translateX(-100%);
}

.gh-name:hover::before {
    transform: translateX(0);
}

.gh-name:active {
    transform: scale(0.9);
}

.year {
    color: white;
    font-size: 1.5rem;
}

.rss-link {
    width: 120px;
    filter: drop-shadow(0 0 4px rgb(255, 255, 255));
    transition: 0.2s;
}

.rss-link:hover {
    filter: drop-shadow(0 0 8px rgb(255, 255, 255));
}

.rss-link:active {
    transform: scale(0.9);
}

.footer__copyright {
    font-size: 14px;
    color: #646464;
    text-align: center;
}

.footer__copyright a {
    color: #646464;
}

.footer__copyright a:hover {
    color: #9b9b9b;
}

.footer__copyright:before {
    content: '©';
}
