.waiting-window {
  z-index: 1;
  user-select: none;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  font-family: Comfortaa;
  font-size: 1.8rem;
  font-weight: bold;
  background-color: #c9c9c9dd;
  animation: waiting-animation 2s ease-in-out infinite alternate;
}

.waiting-window__gif {
  width: 80px;
  height: 80px;
  background-image: url('../../../../assets/img/loading.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: drop-shadow(15px 15px 8px #000000);
}

@keyframes waiting-animation {
  from {
    box-shadow: inset 0 0 10px 5px #000000;
  }
  to {
    box-shadow: inset 0 0 20px 12px #000000;
  }
}
