.garage__options-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.garage__create-options,
.garage__update-options {
  display: flex;
  gap: 10px;
}

.garage__create_color,
.garage__update_color {
  cursor: pointer;
}

.garage__btn_create,
.garage__btn_update {
  position: relative;
}

.garage__btn_create::after,
.garage__btn_update::after {
  content: 'Type something';
  opacity: 0;
  position: absolute;
  right: -190%;
  color: #ff0000;
  transform: translateX(-50%);
  transform-origin: left;
  transition: 0.3s;
}

.garage__btn_create.highlight::after,
.garage__btn_update.highlight::after {
  opacity: 1;
  transform: translateX(0);
}

.garage__btn_create.highlight,
.garage__btn_update.highlight {
  pointer-events: none;
  cursor: default;
}

.garage__addition-options {
  display: flex;
  gap: 10px;
}
