.garage__options-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.garage__create-options,
.garage__update-options {
  display: flex;
  align-items: center;
  gap: 10px;
}

.garage__create_text,
.garage__update_text {
  font-family: Race-font;
  font-size: 1.3rem;
}

.garage__create_text::placeholder,
.garage__update_text::placeholder {
  font-family: Race-font;
}

.garage__create_color,
.garage__update_color {
  cursor: pointer;
}

.garage__btn_create,
.garage__btn_update {
  position: relative;
}

.garage__btn_create.highlight::after,
.garage__btn_update.highlight::after {
  opacity: 1;
  transform: translateX(0);
}

.garage__btn_create.highlight,
.garage__btn_update.highlight {
  pointer-events: none;
  cursor: default;
}

.garage__addition-options {
  display: flex;
  gap: 10px;
}
