.garage__options-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.garage__create-options,
.garage__update-options {
  display: flex;
  gap: 10px;
}

.garage__create_color,
.garage__update_color {
  cursor: pointer;
}

.garage__btn_update.disabled {
  pointer-events: none;
  opacity: 0.6;
}

.garage__addition-options {
  display: flex;
  gap: 10px;
}
