.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: max-content;
  max-width: 100%;
  padding: 15px;
  background-color: var(--main-color);
  box-shadow:
    0 0 10px 6px var(--addition-color),
    inset 0 0 8px 4px var(--addition-color);
  border-radius: 15px;
  color: #ffffff;
  text-align: center;
}

.info__title {
  font-weight: bold;
  font-size: 2rem;
  color: var(--highlighted-color);
}

.info__content {
  font-size: 1.5rem;
}

.info__author {
  color: var(--highlighted-color);
  font-weight: bold;
  font-size: 1.3rem;
}

.info__back-btn {
  font-size: 1.4rem;
  padding: 5px 10px;
  transition: 0.3s;
}

.info-btn {
  z-index: 2;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 5px 15px;
  font-size: 1.2rem;
}

.info-btn:has(~ .info) {
  opacity: 0.7;
  pointer-events: none;
}

@media screen and (max-width: 1000px) {
  .info-btn {
    top: 15px;
    right: 15px;
    font-size: 1rem;
  }
}

@media screen and (max-width: 570px) {
  .info__title {
    font-size: 1.7rem;
  }

  .info__content {
    font-size: 1.2rem;
  }

  .info__author {
    font-size: 1rem;
  }

  .info__back-btn {
    font-size: 1.2rem;
  }
}
