.login {
  position: absolute;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 25px;
  border-radius: 20px;
  background-color: var(--main-color);
  box-shadow:
    0 0 15px 10px var(--addition-color),
    inset 0 0 12px 10px var(--addition-color);
}

.login:not([hidden]) {
  animation: appear 0.5s forwards;
}

.login[hidden] {
  animation: hide 0.5s ease-in forwards;
}

.login__validate-hint {
  margin-top: 5px;
  color: rgb(255, 42, 42);
  font-size: 1.1rem;
  font-weight: bold;
  transition: 0.3s;
}

.login__validate-hint.valid {
  color: var(--highlighted-color);
}

.login__label_name,
.login__label_password {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  color: #ffffff;
  font-size: 1.3rem;
  transition: 0.3s;
}

.incorrect-password::after,
.already-auth::after {
  content: 'Incorrect password';
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  bottom: -100%;
  color: rgb(255, 42, 42);
  background-color: rgb(84, 51, 51);
  font-family: Comfortaa;
  font-size: 1.2rem;
  font-weight: bold;
}

.already-auth::after {
  content: 'The user with this login is already authorized';
}

.incorrect-password + .login__label_password,
.already-auth + .login__label_password {
  margin-top: 15px;
}

.login__input_name,
.login__input_password {
  width: 70%;
  font-size: 1.1rem;
}

.login__btn_login {
  pointer-events: none;
  opacity: 0.6;
  font-size: 1.5rem;
  cursor: default;
  transition: 0.4s;
}

.login__btn_login.valid {
  pointer-events: all;
  opacity: 1;
  cursor: pointer;
}
