.login {
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 25px;
  border-radius: 20px;
  background-color: rgba(134, 99, 77, 0.883);
  box-shadow:
    0 0 15px 10px rgb(212, 195, 184),
    inset 0 0 12px 10px rgb(212, 195, 184);
}

.login:not([hidden]) {
  animation: appear 0.5s 0.5s forwards;
}

.login[hidden] {
  animation: hide 0.5s forwards;
}

.login__validate-hint {
  margin-top: 5px;
  color: rgb(255, 42, 42);
  font-size: 1.1rem;
  font-weight: bold;
  transition: 0.3s;
}

.login__validate-hint.valid {
  color: rgb(0, 255, 0);
}

.login__label_name,
.login__label_password {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  color: #ffffff;
  font-size: 1.3rem;
}

.login__input_name,
.login__input_password {
  width: 70%;
  font-size: 1.1rem;
}

.login__btn_login {
  pointer-events: none;
  opacity: 0.6;
  font-size: 1.5rem;
  cursor: default;
  transition: 0.4s;
}

.login__btn_login.valid {
  pointer-events: all;
  opacity: 1;
  cursor: pointer;
}
