.header {
  position: absolute;
  opacity: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 15px;
  background-color: var(--main-color);
  box-shadow:
    0 0 10px 6px var(--addition-color),
    inset 0 0 8px 4px var(--addition-color);
  border-radius: 15px;
}

.header:not([hidden]) {
  animation: appear 0.5s forwards;
}

.header[hidden] {
  animation: hide 0.5s ease-in forwards;
}

.header__user-name,
.header__app-name {
  color: #ffffff;
  font-size: 1.5rem;
}

.header__user-name_value {
  font-size: 1.6rem;
  color: var(--highlighted-color);
  font-weight: bold;
}

.button-hover.header__logout {
  color: #ff2424;
  outline: 1px solid #ff2424;
  font-size: 1.7rem;
  padding: 5px 15px;
  background-color: transparent;
}

.button-hover.header__logout:hover {
  background-color: #ff2424;
  color: #ffffff;
  outline: 1px solid #ff2424;
  box-shadow: 0 0 12px 2px #ff2424;
  border-radius: 0 0 15px 0;
}
