.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 15px;
  background-color: var(--main-color);
  box-shadow:
    0 0 10px 6px var(--addition-color),
    inset 0 0 8px 4px var(--addition-color);
  border-radius: 15px;
}

.header__user-name,
.header__app-name {
  color: #ffffff;
  font-size: 1.5rem;
}

.header__user-name_value {
  font-size: 1.6rem;
  color: var(--highlighted-color);
  font-weight: bold;
}

.button-hover.header__logout {
  color: #ff2424;
  outline: 1px solid #ff2424;
  font-size: 1.7rem;
  padding: 5px 15px;
  background-color: transparent;
}

.button-hover.header__logout:hover {
  background-color: #ff2424;
  color: #ffffff;
  outline: 1px solid #ff2424;
  box-shadow: 0 0 12px 2px #ff2424;
  border-radius: 0 0 15px 0;
}

@media screen and (max-width: 920px) {
  .header__user-name {
    overflow: hidden;
    max-width: 44%;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1.4rem;
  }

  .header__user-name_value {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 700px) {
  .header__user-name,
  .header__app-name {
    font-size: 1.2rem;
  }

  .header__user-name_value {
    font-size: 1.3rem;
  }

  .button-hover.header__logout {
    padding: 5px 10px;
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 500px) {
  .header__app-name,
  .button-hover.header__logout,
  .header__user-name {
    font-size: 0.9rem;
  }

  .header__user-name_value {
    font-size: 1rem;
  }
}

@media screen and (max-height: 590px) {
  .header {
    padding: 5px;
  }
}
