.winners__table {
  color: #ffffff;
  font-family: Race-font;
  font-size: 1rem;
  border: 1px solid #ffffff;
  letter-spacing: 2px;
  border-spacing: 40px 20px;
}

td,
th {
  text-align: center;
  vertical-align: middle;
}

.winners__th_wins,
.winners__th_time {
  user-select: none;
  cursor: pointer;
  transition: 0.3s;
}

.selected-sort {
  color: rgb(0, 255, 0);
}

.reverse-sort {
  color: rgb(255, 0, 0);
}

.winners__table_sort-icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-bottom: -7px;
  margin-left: 5px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.3s;
}

.selected-sort .winners__table_sort-icon {
  background-image: url('../../../../../assets/img/sort_up.svg');
}

.reverse-sort .winners__table_sort-icon {
  background-image: url('../../../../../assets/img/sort_down.svg');
}

td {
  position: relative;
}

.winners__car-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

@media screen and (max-width: 670px) {
  .winners__table {
    font-size: 0.9rem;
    border-spacing: 20px 10px;
  }
}

@media screen and (max-width: 570px) {
  .winners__table {
    font-size: 0.8rem;
    border-spacing: 10px 10px;
  }
}
