.winners__info_block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.winners__info_title {
  font-family: Race-font;
  font-size: 1.8rem;
  font-weight: bold;
  color: #ffffff;
  letter-spacing: 2px;
}

.winners__info_page {
  font-family: Race-font;
  color: #ffffff;
  font-size: 1.4rem;
}
