.container {
  overflow-y: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 20px;
  background-image: url('../../../../assets/img/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.info-btn {
  position: absolute;
  top: 20px;
  right: 20px;
}
