@font-face {
  font-family: Comfortaa;
  src: url(assets/fonts/Comfortaa-VariableFont_wght.ttf);
}

:root {
  --main-color: rgba(36, 66, 137, 0.686);
  --addition-color: rgb(79, 115, 188);
  --highlighted-color: rgb(0, 255, 0);
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  max-width: 100vw;
}

body {
  padding: 0;
  max-width: 100%;
}

button,
label,
input,
li,
p,
a,
span {
  font-family: Comfortaa;
}

button {
  cursor: pointer;
}

.header,
.main,
.footer {
  max-width: 1200px;
}

@keyframes hide {
  0% {
    position: static;
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    position: static;
    opacity: 0;
    transform: translateY(-100%);
  }
}

@keyframes appear {
  0% {
    position: static;
    opacity: 0;
    transform: translateY(100%);
  }

  100% {
    position: static;
    opacity: 1;
    transform: translateY(0);
  }
}
