@font-face {
  font-family: Comfortaa;
  src: url(assets/fonts/Comfortaa-VariableFont_wght.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  max-width: 100vw;
}

body {
  padding: 0;
  max-width: 100%;
}

button,
label,
input,
li,
p,
span {
  font-family: Comfortaa;
}

button {
  cursor: pointer;
}
