@font-face {
  font-family: CuteFont;
  src: url(assets/fonts/CuteFont-Regular.ttf);
}

:root {
  --main-color: #8800ff;
  --default-shadow: drop-shadow(12px 12px 7px #00000043);
}
  
* {
  box-sizing: border-box;
  margin: 0;
}
  
html {
  scroll-behavior: smooth;
  max-width: 100vw;
}
  
body {
  padding: 0;
  max-width: 100%;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  background-image: url("assets/img/light.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container-dark-theme {
  background-image: url("assets/img/dark.jpg");
}

.menu-modal-wrapper {
  z-index: 2;
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.menu-modal-wrapper-on {
  display: flex;
  transition: 0.4s;
}

.menu-modal-wrapper-blackout {
  background-color: #000000ca;
}

.menu-modal {
  position: relative;
  width: 40%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  opacity: 0;
  padding: 40px;
  background-color: #00b63342;
  box-shadow: inset 0 0 10px 3px #000000;
  border-radius: 30px;
  transform: scaleX(0) translateY(100%);
  transition: 0.4s;
}

.menu-modal-on {
  opacity: 1;
  transform: scaleX(1) translateY(0);
}

.menu-modal__icon_close-button {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.menu-modal__icon_back-button {
  position: absolute;
  top: 25px;
  left: 25px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  transition: 0.2s;
}

.menu-modal__icon_back-button:active {
  opacity: 0.4;
}

.menu-modal__btn-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  width: 90%;
}

.menu-modal__levels-form {
  display: flex;
  gap: 15px;
}

.menu-modal__levels-label,
.menu-modal__option,
#levels-select {
  font-family: CuteFont;
  font-weight: bold;
  font-size: 3rem;
  color: #ff8400;
}

.menu-modal__levels-label {
  border-bottom: 4px solid #ff8400;
}

.menu-modal__option,
#levels-select {
  background-color: #004474;
  color: #ff8400;
  font-size: 2rem;
  border: 2px solid #ff8400;
  box-shadow: 0 0 10px 0.5px #ff8400;
}

.menu-modal__easy-levels,
.menu-modal__medium-levels,
.menu-modal__hard-levels {
  display: flex;
  justify-content: center;
  width: 25%;
}

.menu-modal__recent-games-title {
  font-size: 3.2rem;
  font-family: CuteFont;
  font-weight: bold;
  color: #ff8400;
}

.menu-modal__recent-game :nth-child(1) {
  color: #00eeff;
}

.menu-modal__recent-game :nth-child(2) {
  color: #00b7ff;
}

.menu-modal__recent-game :nth-child(3) {
  color: #008cff;
}

.menu-modal__recent-games-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 0 0 0;
  text-align: center;
  list-style: none;
  color: #ffffff;
  border-top: 2px solid #ffffff;
  font-size: 1.7rem;
  font-family: CuteFont;
  font-weight: bold;
}

.victory-modal-wrapper {
  z-index: 2;
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.victory-modal-wrapper-on {
  display: flex;
  transition: 0.4s;
}

.victory-modal-wrapper-blackout {
  background-color: #000000ca;
}

.victory-modal {
  width: 50%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  opacity: 0;
  padding: 15px;
  background-color: #25b70031;
  box-shadow: inset 0 0 10px 3px #000000;
  border-radius: 30px;
  transform: scale(0);
  transition: 0.4s;
}

.victory-modal-on {
  opacity: 1;
  transform: scale(1);
}

.victory-modal__description {
  font-family: CuteFont;
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
}

.victory-modal__description span {
  color: #ffff00;
}

.header,
.main,
.footer {
  display: flex;
  width: 100%;
  max-width: 1440px;
  transition: 0.4s;
}

.victory-modal-wrapper-blackout ~ .header,
.victory-modal-wrapper-blackout ~ .main,
.victory-modal-wrapper-blackout ~ .footer,
.menu-modal-wrapper-blackout ~ .header,
.menu-modal-wrapper-blackout ~ .main,
.menu-modal-wrapper-blackout ~ .footer {
  filter: blur(6px);
}

.modal-dark-theme {
  background-color: #006dbb34;
}

.header {
  position: relative;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.header__theme-form {
  position: absolute;
  left: 20px;
  width: max-content;
  height: max-content;
  padding: 5px;
  background-color: #b5b5b5aa;
  box-shadow: 0 0 6px 2px #b5b5b5aa;
  border-radius: 40px;
}

.header__theme-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 100%;
}

.header__theme-highlighter {
  z-index: 0;
  position: absolute;
  left: 0;
  width: 50%;
  height: 100%;
  border-radius: 40px;
  background-color: #6a6a6aaa;
  box-shadow: inset 0 0 6px 0.5px #ffff00;
  transform: translateX(0);
  transition: 0.4s;
}

.header__theme-highlighter_dark-theme {
  background-color: #d6d6d6aa;
  box-shadow: inset 0 0 6px 0.5px var(--main-color);
}

.header__label_dark-theme:has(.header__input_dark-theme:checked) ~ .header__theme-highlighter {
  transform: translateX(100%);
}

.header__label_light-theme,
.header__label_dark-theme {
  z-index: 1;
  display: flex;
  align-items: center;
  gap: 5px;
  width: 50%;
  padding: 3px;
  font-family: CuteFont;
  font-size: 1.7rem;
  color: #ffffff;
  cursor: pointer;
  transition: 0.4s;
}

.header__label_dark-theme:has(.header__input_dark-theme:checked) {
  color: var(--main-color);
}

.header__label_light-theme:has(.header__input_light-theme:checked) {
  color: #ffff00;
}

.header__theme-icon {
  width: 20px;
  height: 20px;
}

.header__input_light-theme,
.header__input_dark-theme {
  appearance: none;
}

.header__title {
  padding: 0 15px;
  font-family: CuteFont;
  font-size: 4rem;
  animation-name: rainbow;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(1, end);
}

.header__audio-icon {
  position: absolute;
  right: 20px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.main {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 45px 0;
}

button {
  position: relative;
  display: flex;
  opacity: 1;
  padding: 5px;
  font-family: CuteFont;
  font-size: 1.8rem;
  font-weight: bold;
  border: 4px solid var(--main-color);
  color: var(--main-color);
  background-color: transparent;
  filter: var(--default-shadow);
  cursor: pointer;
  user-select: none;
  transition: 0.4s;
}

button:active {
  transform: scale(0.9);
}

.random-game-btn :not(.button-animation),
.victory-modal__button_random-game :not(.button-animation),
.victory-modal__button_close :not(.button-animation),
.menu-modal__button_choose-puzzle :not(.button-animation),
.menu-modal__button_save :not(.button-animation),
.menu-modal__button_load :not(.button-animation),
.menu-modal__button_recent :not(.button-animation),
.menu-modal__easy-levels :not(.button-animation),
.menu-modal__medium-levels :not(.button-animation),
.menu-modal__hard-levels :not(.button-animation),
.menu-modal__confirm-btn :not(.button-animation),
.menu-btn :not(.button-animation),
.reset-btn :not(.button-animation),
.solution-btn :not(.button-animation) {
  z-index: 1;
  transition: 0.4s;
}

.random-game-btn,
.victory-modal__button_random-game,
.victory-modal__button_close,
.menu-btn,
.reset-btn,
.solution-btn,
.menu-modal__button_choose-puzzle,
.menu-modal__button_recent {
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.action-icon {
  width: 30px;
  height: 30px;
}

.menu-modal__easy-levels {
  border: 4px solid #32c800ca;
  color: #32c800ca;
}

.menu-modal__medium-levels {
  border: 4px solid #ffff00;
  color: #ffff00;
}

.menu-modal__hard-levels {
  border: 4px solid #ff0000;
  color: #ff0000;
}

.menu-modal__selected-level {
  pointer-events: none;
  opacity: 0.3;
  color: #000000;
  animation: selected-level-animation 0.5s ease-out infinite alternate;
}

.menu-modal__selected-level .button-animation {
  animation: selected-button-animation 0.5s ease-out infinite alternate;
}

.menu-modal__confirm-btn {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0;
}

.menu-btn {
  border: 4px solid #32c800ca;
  color: #32c800ca;
}

.reset-btn,
.solution-btn {
  margin-top: 4px;
}

.menu-modal__button_save {
  border: 4px solid #245bff;
  color: #245bff;
}

.menu-modal__button_load {
  border: 4px solid #07a4ff;
  color: #07a4ff;
}

.menu-modal__button_recent {
  border: 4px solid #ff8400;
  color: #ff8400;
}

.victory-modal__button_close {
  width: 100%;
  padding: 0;
  border: 4px solid #ff0000;
  color: #ff0000;
}

.game-board-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: flex-end;
  filter: var(--default-shadow);
}

.stopwatch-menu-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

.stopwatch {
  color: #7a7a7a;
  font-family: CuteFont;
  font-size: 2.6rem;
  font-weight: bold;
  transform: scale(0.7);
  transition: 1s;
}

.stopwatch-dark-theme {
  color: #dedede;
}

.stopwatch-active {
  color: #009500;
  transform: scale(1);
}

.game-board__top-clues {
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  display: flex;
  border-bottom: 4px solid #000000;
  background-color: #dcdcff;
}

.game-board__top-clues_dark-theme {
  border-bottom: 4px solid #ffffff;
  background-color: #292c71;
}

.game-board__left-clues {
  position: absolute;
  top: 0;
  right: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  height: 100%;
  border-right: 4px solid #000000;
  background-color: #edffdc;
}

.game-board__left-clues_dark-theme {
  border-right: 4px solid #ffffff;
  background-color: #215251;
}

.left-clue p,
.top-clue p {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  font-family: CuteFont;
  font-size: 1.5rem;
  font-weight: bold;
  outline: 0.5px solid #000000;
  user-select: none;
}

.left-clue-dark-theme p,
.top-clue-dark-theme p {
  color: #ffffff;
  outline: 0.5px solid #ffffff;
}

.left-clue .max-clue,
.top-clue .max-clue {
  color: #c800ff;
}

.left-clue-dark-theme .max-clue,
.top-clue-dark-theme .max-clue {
  color: #ebe300;
}

.top-clue {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  aspect-ratio: 1 / 1;
}

.left-clue {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.game-board__play-area {
  position: relative;
  display: grid;
  outline: 4px solid #000000;
}

.play-area-dark-theme {
  outline: 4px solid #ffffff;
}

.game-board__play-area_inactive {
  pointer-events: none;
  opacity: 0.5;
}

.cell {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  aspect-ratio: 1 / 1;
  outline: 0.5px solid #000000;
  user-select: none;
  transition: 0.1s;
}

.cell-dark-theme {
  outline: 0.5px solid #ffffff;
}

.cell-marked {
  background-color: #000000;
  outline: 0.5px solid #ffffff;
}

.cell-dark-theme.cell-marked {
  background-color: #ffffff;
  outline: 0.5px solid #000000;
}

.cross {
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-color: #ff00001c;
  background-image: url("assets/img/cross.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cell-dark-theme .cross {
  background-color: #ff000037;
  background-image: url("assets/img/light-cross.svg");
}

.cross-dark-theme {
  background-image: url("assets/img/light-cross.svg");
}

.divide-right::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 2.5px;
  background-color: #000000;
}

.divide-left::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 2.5px;
  background-color: #000000;
}

.divide-top::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2.5px;
  background-color: #000000;
}

.divide-bottom::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2.5px;
  background-color: #000000;
}

.divide-dark-theme::after {
  background-color: #ffffff;
}

.divide-dark-theme::before {
  background-color: #ffffff;
}

.interaction-buttons-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.reset-btn[disabled],
.solution-btn[disabled],
.menu-btn[disabled],
.random-game-btn[disabled] {
  opacity: 0.5;
  cursor: default;
}

.reset-btn,
.solution-btn {
  width: 50%;
}

.footer {
  justify-content: space-between;
  align-items: flex-end;
  padding: 20px;
}

.github-link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  overflow: hidden;
  transition: 0.4s;
}

.github-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000000;
  border-radius: 5px;
  transform: translateX(-100%);
  transition: 0.4s;
}

.footer__year,
.github-link {
  font-family: CuteFont;
  font-size: 2.5rem;
  color: #000000;
  text-decoration: none;
  filter: var(--default-shadow);
}

.footer__year {
  align-self: center;
}

.github-link__icon {
  width: 50px;
  height: 50px;
}

.text-dark-theme .github-link__icon #Icons1 #github {
  fill: #ffffff !important;
}

.text-dark-theme {
  color: #ffffff;
}

.text-dark-theme::after {
  background-color: #ffffff;
}

.footer__link_rss {
  width: 120px;
  filter: var(--default-shadow);
  transition: 0.4s;
}

.rss-dark-theme {
  filter: drop-shadow(0 0 5px #ffffff);
}

@media screen and (orientation: landscape) {
  .game-board-content {
    width: 45dvh;
    height: max-content;
  }
}

@media screen and (orientation: portrait) {
  .game-board-content {
    width: 45vw;
    height: max-content;
  }
}

@media (hover: hover) {
  .header__audio-icon:hover {
    transform: scale(1.2);
  }

  .button-animation-top {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0;
    width: 100%;
    height: 50%;
    transform: scaleX(0);
    transform-origin: left;
    transition: 0.4s;
  }

  .button-animation-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 0;
    opacity: 0;
    width: 100%;
    height: 50%;
    transform: scaleX(0);
    transform-origin: right;
    transition: 0.4s;
  }

  .random-game-btn .button-animation,
  .victory-modal__button_random-game .button-animation,
  .menu-modal__button_choose-puzzle .button-animation,
  .reset-btn .button-animation,
  .solution-btn .button-animation,
  .menu-modal__confirm-btn .button-animation {
    background-color: var(--main-color);
  }

  .reset-btn[disabled]:hover .button-animation,
  .solution-btn[disabled]:hover .button-animation,
  .random-game-btn[disabled]:hover .button-animation,
  .menu-btn[disabled]:hover .button-animation {
    display: none;
  }

  .reset-btn[disabled]:hover span,
  .solution-btn[disabled]:hover span,
  .menu-btn[disabled]:hover span,
  .random-game-btn[disabled]:hover span {
    color: inherit;
  }

  .menu-btn .button-animation,
  .menu-modal__easy-levels .button-animation {
    background-color: #32c800ca;
  }

  .menu-modal__medium-levels .button-animation {
    background-color: #ffff00;
  }

  .menu-modal__hard-levels .button-animation {
    background-color: #ff0000;
  }

  .menu-modal__button_save .button-animation {
    background-color: #245bff;
  }

  .menu-modal__button_load .button-animation {
    background-color: #07a4ff;
  }

  .menu-modal__button_recent .button-animation {
    background-color: #ff8400;
  }

  .victory-modal__button_close .button-animation {
    background-color: #ff0000;
  }

  button:hover .button-animation {
    transform: scaleX(1);
    opacity: 1;
  }

  button:hover span {
    color: #ffffff;
  }


  .menu-modal__icon_back-button:hover {
    transform: rotate(-25deg);
  }

  .menu-modal__medium-levels:hover span {
    color: #000000;
  }

  .github-link:hover::after {
    transform: translateX(0);
  }
}

@media screen and (max-width: 1130px) {
  .menu-modal {
    width: 50%;
    height: 60%;
  }
}

@media screen and (max-height: 715px) {
  button {
    font-size: 1.4rem;
  }
}

@media screen and (max-height: 660px) {
  .menu-modal {
    height: 85%;
  }

  .menu-modal__recent-games-list {
    gap: 0;
  }

  button {
    padding: 2px;
    border: 2px solid var(--main-color);
    font-size: 1.2rem;
  }

  .menu-modal__button_save {
    border: 2px solid #245bff;
  }
  
  .menu-modal__button_load {
    border: 2px solid #07a4ff;
  }
  
  .menu-modal__button_recent {
    border: 2px solid #ff8400;
  }
  
  .victory-modal__button_close {
    border: 2px solid #ff0000;
  }

  .menu-btn {
    border: 2px solid #32c800ca;
  }
}

@media screen and (max-width: 900px) {
  .menu-modal__recent-games-title {
    font-size: 2.4rem;
  }

  .menu-modal__recent-games-list {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 800px) {
  .menu-modal {
    padding: 20px;
  }

  .menu-modal__icon_back-button {
    top: 10px;
    left: 10px;
  }

  .menu-modal__icon_close-button {
    top: 10px;
    right: 10px;
  }

  .menu-modal__levels-label {
    font-size: 2rem;
  }

  .victory-modal__description {
    font-size: 2rem;
  }

  .header__label_dark-theme,
  .header__label_light-theme {
    font-size: 1.3rem;
  }

  .header__theme-icon {
    width: 15px;
    height: 15px;
  }

  .header__title {
    font-size: 3rem;
  }

  .header__audio-icon {
    width: 30px;
    height: 30px;
  }

  button {
    font-size: 1.5rem;
  }

  .stopwatch {
    font-size: 2.3;
  }
  
  .action-icon {
    width: 25px;
    height: 25px;
  }

  .left-clue p,
  .top-clue p {
    font-size: 1.3rem;
  }

  .github-link__icon {
    width: 35px;
    height: 35px;
  }

  .github-link,
  .footer__year {
    font-size: 2rem;
  }

  .footer__link_rss {
    width: 90px;
  }
}

@media screen and (max-width: 680px) {
  .header__theme-wrapper {
    gap: 5px;
  }

  .header__label_dark-theme,
  .header__label_light-theme {
    font-size: 1rem;
  }

  .header__theme-icon {
    width: 12px;
    height: 12px;
  }
}

@media screen and (max-width: 625px) {
  button {
    font-size: 1.2rem;
  }

  .divide-right::after {
    width: 1.5px;
  }
  
  .divide-left::after {
    width: 1.5px;
  }
  
  .divide-top::before {
    height: 1.5px;
  }
  
  .divide-bottom::before {
    height: 1.5px;
  }

  .game-board__play-area {
    outline: 3px solid #000000;
  }

  .play-area-dark-theme {
    outline: 3px solid #ffffff;
  }

  .game-board__top-clues {
    border-bottom: 3px solid #000000;
  }

  .game-board__left-clues {
    border-right: 3px solid #000000;
  }

  .game-board__top-clues_dark-theme {
    border-bottom: 3px solid #ffffff;
  }

  .game-board__left-clues_dark-theme {
    border-right: 3px solid #ffffff;
  }
}

@media screen and (max-width: 565px) {
  .menu-modal__levels-label,
  #levels-select {
    font-size: 1.5rem;
  }

  .header__theme-form {
    padding: 2px;
  }

  .header__label_dark-theme,
  .header__label_light-theme {
    font-size: 1rem;
  }

  .header__theme-icon {
    width: 12px;
    height: 12px;
  }

  .action-icon {
    width: 18px;
    height: 18px;
  }

  .header__title {
    font-size: 2.5rem;
  }

  button {
    padding: 2px;
    border: 2px solid var(--main-color);
    font-size: 1rem;
  }

  .menu-modal__button_save {
    border: 2px solid #245bff;
  }
  
  .menu-modal__button_load {
    border: 2px solid #07a4ff;
  }
  
  .menu-modal__button_recent {
    border: 2px solid #ff8400;
  }
  
  .victory-modal__button_close {
    border: 2px solid #ff0000;
  }

  .menu-btn {
    border: 2px solid #32c800ca;
  }

  .github-link__icon {
    width: 25px;
    height: 25px;
  }

  .github-link,
  .footer__year {
    font-size: 1.5rem;
  }

  .footer__link_rss {
    width: 70px;
  }
}

@keyframes rainbow {
  0% {
    color: #ff0000;
    filter: drop-shadow(0 0 2px #ff0000);
    box-shadow: 0 -5px 0 #ff0000;
  }
  14% {
    color: #ff8400;
    filter: drop-shadow(0 0 2px #ff8400);
    box-shadow: 5px 0 0 #ff8400;
  }
  28% {
    color: #ffff00;
    filter: drop-shadow(0 0 2px #ffff00);
    box-shadow: 0 5px 0 #ffff00;
  }
  42% {
    color: #008000;
    filter: drop-shadow(0 0 2px #008000);
    box-shadow: -5px 0 0 #008000;
  }
  56% {
    color: #00ffff;
    filter: drop-shadow(0 0 2px #00ffff);
    box-shadow: 0 -5px 0 #00ffff, 0 5px 0 #00ffff;
  }
  71% {
    color: #0000ff;
    filter: drop-shadow(0 0 2px #0000ff);
    box-shadow: -5px 0 0 #0000ff, 5px 0 0 #0000ff;
  }
  84% {
    color: #800080;
    filter: drop-shadow(0 0 2px #800080);
    box-shadow: none;
  }
}

@keyframes selected-button-animation {
  from {
    transform: scaleX(0);
    opacity: 0;
  }
  to {
    transform: scaleX(1);
    opacity: 1;
  }
}