@font-face {
  font-family: Comfortaa;
  src: url(assets/fonts/Comfortaa-VariableFont_wght.ttf);
}
  
* {
  box-sizing: border-box;
  margin: 0;
}
  
html {
  scroll-behavior: smooth;
  max-width: 100vw;
}
  
body {
  padding: 0;
  max-width: 100%;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 20px;
  background-color: rgb(232, 232, 232);
}

.header,
.main,
.footer {
  display: flex;
  width: 100%;
  max-width: 1440px;
}

.header {
  justify-content: center;
}

.header__title {
  font-family: Comfortaa;
  font-size: 3.2rem;
}

.main {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.game-board-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: flex-end;
}

.stopwatch-menu-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.game-board {
  display: grid;
  height: max-content;
  align-items: start;
}

.game-board__top-clues {
  display: grid;
  align-items: end;
}

.game-board__left-clues {
  position: absolute;
  top: 0;
  right: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  height: 100%;
}

.left-clue p,
.top-clue p {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  font-family: Comfortaa;
  font-size: 200%;
  outline: 0.5px solid #000000;
  user-select: none;
}

.top-clue {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  aspect-ratio: 1 / 1;
}

.left-clue {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.game-board__play-area {
  position: relative;
  display: grid;
  outline: 4px solid #000000;
}

.cell {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  outline: 0.5px solid #000000;
  user-select: none;
}

.cell-marked {
  background-color: #000000;
  outline: 0.5px solid #ffffff;
}

.divideRight::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 2.5px;
  background-color: #000000;
}

.divideLeft::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 2.5px;
  background-color: #000000;
}

.divideTop::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2.5px;
  background-color: #000000;
}

.divideBottom::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2.5px;
  background-color: #000000;
}

.interaction-buttons-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media screen and (orientation: landscape) {
  .game-board-content {
    width: 55dvh;
    height: max-content;
  }
}

@media screen and (orientation: portrait) {
  .game-board-content {
    width: 55vw;
    height: max-content;
  }
}