.playarea {
  display: grid;
  grid-template-rows: 10fr 1fr;
  gap: 30px;
  width: 100%;
  max-width: 1000px;
}

.playarea__puzzles {
  width: 100%;
  height: 500px;
  background-color: #ffffff90;
  outline: 4px solid #000000;
}

.playarea__sources {
  display: flex;
  width: 100%;
  background-color: #ffffffc8;
  outline: 4px solid #000000;
}

.playarea__sentence {
  display: flex;
  width: 100%;
  height: 10%;
  outline: 1px solid blue;
}

.playarea__source {
  position: relative;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 4px;
  font-family: Comfortaa;
  font-size: 1.2rem;
  outline: 2px solid rgb(191, 191, 0);
  transform: scale(1);
  transition: 0.3s;
}

.playarea__source.valid::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #22bd22;
}

.playarea__source.not-valid::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--red-color);
}

.playarea__source_active {
  pointer-events: all;
  cursor: pointer;
}

.playarea__source_active:hover {
  transform: scale(1.1);
}

.playarea__source-place,
.playarea__sentence-place {
  width: 100%;
  height: 100%;
  background-color: #ffffffc8;
}

.playarea__buttons-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
}

.playarea__continue-button,
.playarea__check-button {
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 40px;
  padding: 10px;
  font-family: Comfortaa;
  font-size: 1.6rem;
  font-weight: bold;
  border-radius: 35px;
  opacity: 0.8;
  border: none;
  transition: 0.3s;
  cursor: pointer;
}

.playarea__continue-button.valid,
.playarea__check-button.valid {
  pointer-events: all;
  opacity: 1;
  box-shadow: 3px 3px 6px 1px var(--shadow-color);
  background-color: var(--addition-color);
  color: #ffffff;
}

.playarea__continue-button:active,
.playarea__check-button:active {
  transform: scale(0.9);
}
