.playarea {
  display: grid;
  grid-template-rows: 10fr 1fr;
  gap: 30px;
  width: 100%;
  max-width: 1000px;
}

.playarea__puzzles {
  width: 100%;
  height: 500px;
  background-color: #ffffff90;
  outline: 4px solid #000000;
}

.playarea__sources {
  display: flex;
  width: 100%;
  background-color: #ffffffc8;
  outline: 4px solid #000000;
}

.playarea__sentence {
  display: flex;
  width: 100%;
  height: 10%;
  outline: 1px solid blue;
}

.playarea__source {
  position: relative;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  font-family: Comfortaa;
  font-size: 1.2rem;
  outline: 2px solid rgb(191, 191, 0);
  transition: 0.3s;
}

.playarea__source::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 4px;
  background-color: #22bd22;
  transform: scaleX(0);
  transition: 0.3s;
}

.playarea__source::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 4px;
  background-color: var(--red-color);
  transform: scaleX(0);
  transition: 0.3s;
}

.playarea__source.valid::after,
.playarea__source.not-valid::before {
  opacity: 1;
  transform: scaleX(1);
}

.playarea__source_active {
  pointer-events: all;
  cursor: pointer;
}

.playarea__source_active:hover {
  box-shadow: 0 0 26px 6px gold;
}

.playarea__source-place,
.playarea__sentence-place {
  width: 100%;
  height: 100%;
  background-color: #ffffff85;
  transition: 0.3s;
}

.playarea__sentence-place_active,
.playarea__source-place {
  background-color: #ffffffdf;
}

.playarea__buttons-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
}

.playarea__action-button,
.playarea__auto-complete {
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 40px;
  padding: 10px;
  font-family: Comfortaa;
  font-size: 1.6rem;
  font-weight: bold;
  border-radius: 35px;
  opacity: 0.8;
  border: none;
  transition: 0.3s;
  cursor: pointer;
}

.playarea__auto-complete {
  width: 30%;
  font-size: 1.2rem;
}

.playarea__action-button.valid,
.playarea__auto-complete.valid {
  pointer-events: all;
  opacity: 1;
  box-shadow: 3px 3px 6px 1px var(--shadow-color);
  background-color: #d3d300;
  color: #000000;
}

.playarea__auto-complete.valid {
  background-color: #a82c2c;
  color: #ffffff;
}

.playarea__action-button.continue {
  pointer-events: all;
  opacity: 1;
  box-shadow: 3px 3px 6px 1px var(--shadow-color);
  background-color: #009d00;
  color: #ffffff;
}

.playarea__action-button:active,
.playarea__auto-complete:active {
  transform: scale(0.9);
}

.ondrag {
  background-color: rgba(255, 217, 0, 0.363);
}

.playarea__peg_inner,
.playarea__peg_outer {
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  box-shadow: 2px 0 0 0 #000000;
}

.playarea__peg_outer {
  right: -15px;
  z-index: 2;
}

.playarea__peg_inner {
  background-color: #ffffff;
  left: -2px;
  z-index: 0;
}
