@font-face {
  font-family: Race-font;
  src: url(assets/fonts/roadrage.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
}

::-webkit-scrollbar {
  background-color: rgb(89, 89, 89);
}

::-webkit-scrollbar-track {
  background-color: rgb(89, 89, 89);
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 5px 0.5px #ffffff;
  background-color: rgb(57, 61, 175);
  transition: 0.2s;
}

::-webkit-scrollbar-thumb:active {
  box-shadow: inset 0 0 1px 0.5px #ffffff;
  background-color: rgb(40, 46, 216);
}

html {
  scroll-behavior: smooth;
  max-width: 100vw;
}

body {
  padding: 0;
  max-width: 100%;
}

.header,
.main {
  z-index: 1;
  display: flex;
  width: 100%;
  max-width: 1440px;
  padding: 15px;
}

button {
  position: relative;
  overflow: hidden;
  user-select: none;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: Race-font;
  letter-spacing: 2px;
  transition: 0.4s;
}

button span {
  position: relative;
  z-index: 1;
  pointer-events: none;
  transition: 0.4s;
}

button::after {
  content: '';
  z-index: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 4px;
  background-color: rgb(66, 66, 252);
  transition: 0.4s;
}

button::before {
  content: '';
  z-index: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 4px;
  height: 100%;
  background-color: rgb(66, 66, 252);
  transition: 0.4s;
}

button:hover span {
  color: #ffffff;
}

button:hover::after {
  height: 100%;
}

button:hover::before {
  width: 100%;
}

button:active {
  transform: scale(0.9);
}

input {
  outline-color: blue;
}

button:not(.disabled) {
  animation: enabling 1s;
}

button.disabled,
button.on-race,
button.on-drive {
  pointer-events: none;
  opacity: 0.5;
}

button.disabled::after,
button.on-drive::after,
button.disabled::before,
button.on-drive::before {
  background-color: rgb(255, 55, 55);
}

button.on-race::after,
button.on-race::before {
  background-color: rgb(255, 122, 55);
}

@keyframes enabling {
  15% {
    transform: scale(1.1);
  }
  35% {
    transform: scale(1.1) rotate(5deg);
  }
  55% {
    transform: scale(1.1) rotate(-5deg);
  }
  75% {
    transform: scale(1.1) rotate(0deg);
  }
  100% {
    transform: scale(1);
  }
}
