@font-face {
  font-family: Comfortaa;
  src: url(assets/fonts/Comfortaa-VariableFont_wght.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  max-width: 100vw;
}

body {
  padding: 0;
  max-width: 100%;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding: 15px;
  background-color: #232323;
}

.header,
.main,
.footer {
  display: flex;
  width: 100%;
  max-width: 1440px;
}

.header {
  justify-content: center;
  height: 10%;
}

.header__title {
  color: #ffffff;
  font-family: Comfortaa;
  font-size: 3.2rem;
}

.main {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 80%;
}

.main__hint,
.main__tries {
  font-family: Comfortaa;
  font-size: 1.8rem;
  color: #ffffff
}

.keyboard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  max-width: 630px;
}

.keyboard__btn {
  width: 50px;
  height: 50px;
  border-radius: 25%;
  font-family: Comfortaa;
  font-size: 1.8rem;
  background-color: #232323;
  color: #12ffff;
  box-shadow: 0 0 5px 1px #000000;
  cursor: pointer;
}

.incorrect-counter {
  color: rgb(255, 46, 46);
}

.footer {
  justify-content: space-between;
  align-items: flex-end;
  height: 10%;
}

.github-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.footer__year,
.github-link {
  font-family: Comfortaa;
  font-size: 1.5rem;
  color: #ffffff;
  text-decoration: none;
}

.github-link__icon {
  width: 50px;
  height: 50px;
}

.footer__link_rss {
  width: 120px;
}