.garage__info-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}

.garage__info-title {
  font-family: Comfortaa;
  font-size: 1.8rem;
  font-weight: bold;
  color: #ffffff;
}

.garage__page {
  font-family: Comfortaa;
  color: #ffffff;
  font-size: 1.4rem;
}

.garage__cars-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
